name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/github-script@v8
        env:
          TITLE: 'Hello World'
        with:
          script: |
            const script = require('${{ github.workspace }}/.github/workflows/scripts/index.js');
            return await script();
            
